<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>  
    
        
        <% if (type == "update") {%> 
           <form action="/properties/edit/<%= propertyId %>" method="post">
        <% } 
            else {
        %>

            <form action="/properties/create" method="post"> 
        <%
            }
        %>
        <div>
            <label>Address</label>
            <input name="address"
                    <% if (type == "update") {%> 
                        value="<%= properties[propertyId].address %>"
                    <% } %> < 
             />
        </div>

        <div>
            <label>Phone Number</label>
            <input name="phone" 
                    <% if (type == "update") {%> 
                        value="<%= properties[propertyId].phone %>"
                    <% } %> < 
                    />
        </div>
        <div>
            <label>Rating</label>
            <input name="rating" 
                <% if (type == "update") {%> 
                        value="<%= properties[propertyId].rating %>"
                    <% } %> < 

            />
        </div>
        <div>
            <input type="submit" style="text-align: center">
        </div>
    </form>
  

    <% include partials/footer.ejs %>

  </body>
</html>